@media screen and (max-width:767px) {
    .notfound {
        padding: 20px 20px 20px 20px;
    }

    .num-erreur {
        margin-top: 196px;
        font-size: 96px;
        line-height: 136.9px;
    }

    .message {
        margin-top: 11px;
        font-size: 18px;
        line-height: 25.67px;
    }

    .lien {
        margin-top: 133px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 19.96px;
    }
}