@media screen and (max-width:767px) {
    .About {
        padding: 20px;
    }

    .About .about {
        border-bottom: 1px solid #FF6060;

    }

    .About .nav .section2 {
        margin-top: 17px;
    }

    .section2 img {
        object-position: -571px;
    }

    .collapse {
        width: 100%;
        margin-top: 19px;
    }


    .About .Footer {
        margin-top: 60px;
    }

}